name: Run unittests

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        buildplat: [ubuntu-20.04, windows-2019]
        python: ["3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.buildplat }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
    - name: Run tests
      run: python -m unittest discover -s tests
